# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
api/node_modules
web/node_modules

api/uploads/covers/*
api/uploads/groups/*
api/uploads/pages/*
api/uploads/posts/*
api/uploads/profiles/*
api/uploads/stories/*
api/public/audios/*
api/public/videos/attachments/*

api/voice-notes/*

web/.pnp
web/.pnp.js

# testing
web/coverage

# production
web/build

# misc
web/.DS_Store
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local

web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
